.Root {
    height: 63px;
    background-color: #001030;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    width: 27px;
    height: 16px;
    margin-left: 26px;

}

.MenuItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.MenuItem {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 64px;
}

.SelectedMenuItem {
    background: url('../../../assets/anchor-selected-menu.png') center bottom no-repeat;
}

.MenuItemImage {
    width: 20px;
    height: 20px;
}
