.Root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StepTitle {
    margin-top: 25px;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

.StepSubTitle {
    font-size: 14px;
    text-align: center;
}

.FindPatHelper {
    text-align: right;
    margin-top: 1px;
}

.FindPatHelper > a {
    color: #1035b1;
    text-decoration: underline;
    font-size: 10px;
    line-height: 13px;
}

.FindPatHelper > a:hover,
.FindPatHelper > a:visited {
    color: #000000;
}

.ButtonWrapper {
    margin-top: 42px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.CheckIcon {
    margin-top: 30px;
    height: 26px;
    width: 26px;
    color: #50c516;
}

.SkipButtonWrapper {
    margin-top: 19px;
}
