.Root {
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.StepWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.StepNumber {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #084eff;
    background-color: #cfd6e9;
    border-radius: 50%;
    line-height: 10px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}

.ActiveNumber {
    background: linear-gradient(71.97deg, #001aff 11.94%, #084eff 37.82%, #17aeff 85.88%);
}

.StepTrait {
    height: 1px;
    width: 23px;
    background-color: #cfd6e9;
}

.ActiveTrait {
    background-color: #084eff;
}
