.Root {
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.StepWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.StepNumber {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #084eff;
    border: 1px solid #0b61ff;
    border-radius: 50%;
    line-height: 10px;
    font-size: 10px;
}

.ActiveNumber {
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(93.27deg, #001aff 5.03%, #084eff 40.68%, #17aeff 89.13%);
}

.StepTrait {
    height: 1px;
    width: 23px;
    background-color: #0b5fff;
}

.ActiveTrait {
    background-color: #5a5e86;
}
