.Root {
    padding: 11px 15px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.Contained {
    background: linear-gradient(71.97deg, #001aff 11.94%, #084eff 37.82%, #17aeff 85.88%);
    color: #ffffff;
    border: none;
}

.Contained:hover {
    background: linear-gradient(90deg, #0016d7, #0297e6);
}

.Outlined {
    background: none;
    color: #001030;
    border: 1px solid rgba(2, 42, 142, 0.1);
}

.Outlined:hover {
    background: linear-gradient(180deg, rgba(0, 26, 255, 0.08), rgba(0, 26, 255, 0.08));
}

.Root:hover {
    cursor: pointer;
}
