.Root {
    background-color: #F7F8F9;
}

.Header {
    height: 59px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Body {
    padding: 24px 38px;
}