.Root {
    height: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Title {
    font-family: 'SourceSansPro';
    font-weight: 700;
    font-size: 16px;
    color: #001030;
}

.LogoutButton {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.VersionWrapper {
    font-size: 14px;
    text-align: center;
    color: var(--grey);
}

.LogoutIcon {
    margin-right: 8px;
    color: var(--black);
    width: 16px;
    height: 16px;
}


.FindPatHelper {
    text-align: left;
    margin-top: 1px;
}

.FindPatHelper > a {
    color: #000000;
    text-decoration: underline;
    font-size: 10px;
    line-height: 13px;
}

.FindPatHelper > a:hover,
.FindPatHelper > a:visited {
    color: #000000;
}
