.Root {
    margin-top: 16px;
}

.Results {
    margin-top: 8px;
}

.ResultsTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-top: 14px;
    margin-bottom: 10px;
}

.SearchCardResultWrapper {
    margin: 9px auto;
}

.Separator {
    border-bottom: 1px solid #f3f6ff;
    display: block;
}
