.Root {
    margin-top: 16px;
}

.Results {
    margin-top: 8px;
}

.ResultsTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ResultsTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-top: 14px;
    margin-bottom: 10px;
}

.TagResultCount {
    width: 21px;
    height: 17px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    color: var(--reflex);
    background-color: var(--pale-reflex);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.SearchCardResultWrapper {
    margin: 9px auto;
}

.Separator {
    border-bottom: 1px solid var(--pale-reflex);
    display: block;
}
