.Results {
    margin-top: 8px;
}

.ResultsTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 29px;
    margin-bottom: 10px;
}

.ResultsTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
}

.TagResultCount {
    width: 21px;
    height: 17px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    color: var(--reflex);
    background-color: var(--pale-reflex);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 8px;
}

.SearchCardsResultWrapper {
    overflow-y: scroll;
    height: 392px;
}

.SearchCardResultWrapper {
    margin: 9px auto;
}

.BlankSearch {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--grey);
    font-size: 14px;
}

.BlankSearchImage {
    width: 250px;
}
