@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url('../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url('../assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url('../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-family: 'SourceSansPro';
}

/**
 * Theming variables
 */
:root {
    --black: #001030;
    --grey: #6D6F88;
    --reflex: #1035b1;
    --pale-reflex: #F3F6FF;

    --medium-gray-color: #5a5e86;
    --orange-color: #ff811a;
    --blue-color: #28aae2;
    --green-color: #50c516;
    --magenta-color: #ca004a;
    --functional-color: #50c516;
    --technical-color: #28aae2;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(100deg,#ecf2ff,#ecf2ff)!important;
    border-radius: 7px;
    border: 4px solid #fff
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(100deg,#001aff,#17aeff)!important
}

::-webkit-scrollbar {
    width: 14px
}
