@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url('../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url('../assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url('../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-family: "SourceSansPro";
}

/**
 * Theming variables
 */
:root {
    --black: #001030;
    --medium-gray-color: #5a5e86;
    --functional-color: #50c516;
    --technical-color: #28aae2;
  }