:root {
    --search-card-result-height: 105px;
  }

.Root {
    display: flex;
    flex-direction: row;
    color: var(--black);
    overflow: hidden;
}

.RootExpanded:hover .RightSide {
    height: var(--search-card-result-height);
}

.RootAlwaysExpanded .RightSide {
    height: var(--search-card-result-height);
}

.Root:hover {
    cursor: pointer;
}

.LeftSide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 44px;
    margin-right: 14px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.MiniText {
    font-size: 10px;
    line-height: 13px;
}

.RightSide {
    display: flex;
    flex-direction: column;
    height: 48px;
    transition: height 0.15s linear;
}

.LeftSideBackground {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.07;
}

.FunctionalColorBackground {
    background: var(--functional-color);
}

.FunctionalColor {
    color: var(--functional-color) !important;
    fill: var(--functional-color);
}

.TechnicalColorBackground {
    background: var(--technical-color);
}

.TechnicalColor {
    color: var(--technical-color) !important;
    fill: var(--technical-color);
}

.BreadcrumbWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 19px;
}

.EntityName {
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    margin-top: 4px;
    text-decoration: none;
}

.EntityName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.EntityName:hover::after {
    content: url('../../../../assets/icons/out.svg');
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.ExpandedWrapper {
    display: flex;
    flex-direction: column;
}

.AssociatedUsersWrapper {
    display: flex;
    flex-direction: row;
}
