:root {
    --search-card-result-height: 105px;
}

.Root {
    display: flex;
    flex-direction: column;
    color: var(--black);
    overflow: hidden;
    max-height:58px;
    transition: max-height .15s ease-out;
}

.CursorPointer:hover {
    cursor: pointer;
}

.CardExpanded {
    height: fit-content;
    max-height: 330px;
    transition: max-height .5s ease-in;
}

.WrappedContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LeftSide {
    width: 44px;
    height: 44px;
    background-color: var(--trans-grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 24px;
}

.RightSide {
    display: flex;
    flex: 2;
    max-width: 235px;
    flex-direction: column;
}

.TagsWrapper {
    display: flex;
}

.EntityDGGlyphContainer {
    position: absolute;
    background-color: var(--white);
    width: 18px;
    height: 18px;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EntityTypeShortLabel {
    font-size: 10px;
    color: var(--grey);
}

.BreadcrumbWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 19px;
}

.EntityDGGlyph {
    font-size: 16px;
}

.BigEntityDGGlyph {
    font-size: 24px;
}

.Dictionary {
    color: var(--dictionary);
    fill: var(--dictionary);
}

.Dataprocessing {
    color: var(--dataprocessing);
    fill: var(--dataprocessing);
}

.Glossary {
    color: var(--glossary);
    fill: var(--glossary);
}

.Uses {
    color: var(--uses);
    fill: var(--uses);
}

.EntityName {
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    margin-top: 4px;
    text-decoration: none;
    word-break: break-all;
    width: fit-content;
}

.EntityNameMoreActionsIcon {
    content: url('../../../../assets/icons/out.svg');
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.InfosWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.AssociatedUsersWrapper {
    display: flex;
    flex-direction: row;
}

.SmallGlyph {
    font-size: 8px !important;
}

.TechnicalLogo {
    width: 24px;
}

.EntityPage {
   padding: 18px;
   box-shadow: var(--box-shadow);
}

.EntityPage .LeftSide {
    width: 60px;
    height: 60px;
}

.EntityPage .EntityDGGlyphContainer {
    width: 24px;
    height: 24px;
}

.EntityPage .EntityDGGlyph {
    font-size: 20px;
}

.EntityPage .BigEntityDGGlyph {
    font-size: 32px;
}

.EntityPage .TechnicalLogo {
    width: 32px;
}