:root {
    --search-card-result-height: 105px;
}

.Root {
    display: flex;
    flex-direction: column;
    color: var(--black);
    overflow: hidden;
    max-height:58px;
    transition: max-height .15s ease-out;
}

.CursorPointer:hover {
    cursor: pointer;
}

.CardExpanded {
    height: fit-content;
    max-height: 330px;
    transition: max-height .5s ease-in;
}

.WrappedContainer {
    display: flex;
    flex-direction: row;
}


.LeftSide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 44px;
    margin-right: 14px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.MiniText {
    font-size: 10px;
    line-height: 13px;
}

.RightSide {
    display: flex;
    flex: 2;
    max-width: 235px;
    flex-direction: column;
}

.TagsWrapper {
    display: flex;
}

.LeftSideBackground {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.07;
}

.EntityGlyphWrapper {
    position: absolute;
    top: 7px;
}

.EntityTypeShortLabel {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}

.FunctionalColorBackground {
    background: var(--functional-color);
}

.FunctionalColor {
    color: var(--functional-color) !important;
    fill: var(--functional-color);
}

.TechnicalColorBackground {
    background: var(--technical-color);
}

.TechnicalColor {
    color: var(--technical-color) !important;
    fill: var(--technical-color);
}

.BreadcrumbWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 19px;
}

.EntityName {
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    margin-top: 4px;
    text-decoration: none;
    word-break: break-all;
    width: fit-content;
}

.EntityNameMoreActionsIcon {
    content: url('../../../../assets/icons/out.svg');
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.InfosWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.AssociatedUsersWrapper {
    display: flex;
    flex-direction: row;
}

.SmallGlyph {
    font-size: 8px !important;
}