.Root {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--trans-reflex);
    transition: 150ms;
}

.Input {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 13px;
    border: none;
    font-family: 'SourceSansPro';
    font-size: 14px;
    line-height: 18px;
    color: var(--grey);
    outline: 0;
    background-color: transparent;
    transition: 150ms;
}

.Left {
    margin-left: 12px;
    white-space: nowrap;
}

.Left svg {
    font-size: 16px;
    line-height: 10px;
    position: relative;
    top: 1px;
    color: var(--grey);
    width: 16px;
    height: 16px;
}

.Right {
    margin-right: 8px;
    white-space: nowrap;
}

.Right svg {
    font-size: 16px;
    line-height: 10px;
    position: relative;
    top: 1px;
    color: var(--grey);
    width: 16px;
    height: 16px;
}

@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

.IconLoading {
    animation: Rotate 1700ms cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    display: block;
    font-size: inherit;
}

@keyframes BounceIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.IconSuccess {
    animation: BounceIn 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: block;
    font-weight: bold;
}

.Clear {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
    top: 1px;
}
