.Root {
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.normal {
    width: 26px;
    height: 26px;
    border-width: 2px;
}

.mini {
    width: 18px;
    height: 18px;
    border-width: 1px;
    font-size: 10px !important;
}

.FakeAvatar {
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GroupedAvatar {
    margin-right: -5px;
}
