.Root {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 72px;
    height: 72px;
    overflow: hidden;
    transition: height 0.2s;
}

.Expanded {
    height: 216px;
}

.CircleButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.ToggleButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 72px;
    height: 72px;
    background-color: #636262;
    z-index: 2;
}

.ActionButtonsContainer {
    width: 100%;
    position: absolute;
    top: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ActionButton {
    width: 64px;
    height: 64px;
    margin-top: 8px;
    background-color: #949292;
    opacity: 0;
}

@keyframes ActionButtonVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ActionButtonVisible {
    animation: ActionButtonVisible 0.2s linear;
    animation-fill-mode: forwards;
}

.SecondActionButton {
    animation-delay: 0.1s;
}
