.Root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 16px;
}

.Header {
    font-weight: 700;
    margin-bottom: 30px;
}

.FindPatGif {
    margin-bottom: 35px;
    width: 303px;
    height: 323px;
}
