.Root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.RootItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2px;
    margin-top: 4px;
}

.ColorPoint {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.TagLabel {
    font-size: 12px;
}

.WithBorder {
    border: 1px solid var(--black);
}