.Root {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.Label {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1035b1;
    font-weight: 700;
}

.Input {
    background: #ffffff;
    border: 1px solid rgba(2, 42, 142, 0.1);
    box-sizing: border-box;
    height: 42px;
    border-radius: 3px;
    padding: 16px;
}

.Disabled {
    color: var(--grey);
}

.HelperTextError {
    color: red;
    font-size: 0.75rem;
    margin-bottom: 3px;
}
