.Root {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.Label {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--reflex);
    font-weight: 700;
}

.Input {
    background: var(--white);
    border: 1px solid var(--trans-reflex);
    box-sizing: border-box;
    height: 42px;
    border-radius: 3px;
    padding: 16px;
}

.Disabled {
    color: var(--grey);
}

.HelperTextError {
    color: var(--warning);
    font-size: 0.75rem;
    margin-bottom: 3px;
}
