@font-face {
    font-family: 'datagalaxy';
    src: url('../../../../assets/fonts/datagalaxy.eot?ynd38a');
    src: url('../../../../assets/fonts/datagalaxy.eot?ynd38a#iefix') format('embedded-opentype'),
        url('../../../../assets/fonts/datagalaxy.ttf?ynd38a') format('truetype'),
        url('../../../../assets/fonts/datagalaxy.woff?ynd38a') format('woff'),
        url('../../../../assets/fonts/datagalaxy.svg?ynd38a#datagalaxy') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.Glyph {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'datagalaxy' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.GlyphMultiValue:before {
    content: '\e951';
}
.GlyphNumber:before {
    content: '\e943';
}
.GlyphCheckbox:before {
    content: '\e944';
}
.GlyphDate:before {
    content: '\e945';
}
.GlyphHierarchy:before {
    content: '\e947';
}
.GlyphHyperlink:before {
    content: '\e948';
}
.GlyphValuelist:before {
    content: '\e949';
}
.GlyphEvaluation:before {
    content: '\e94c';
}
.GlyphText:before {
    content: '\e94d';
}
.GlyphRichtext:before {
    content: '\e94e';
}
.GlyphFilterEmpty:before {
    content: '\e941';
}
.GlyphFilterFilled:before {
    content: '\e942';
}
.GlyphVersioning:before {
    content: '\e940';
}
.GlyphLineageLvl2:before {
    content: '\e93d';
}
.GlyphLineageLvl3:before {
    content: '\e93e';
}
.GlyphLineageLvl1:before {
    content: '\e93f';
}
.GlyphDownload:before {
    content: '\e93c';
}
.GlyphCheckCircleFilled:before {
    content: '\e939';
}
.GlyphCloseCircleFilled:before {
    content: '\e93a';
}
.GlyphInfoCircleFilled:before {
    content: '\e93b';
}
.GlyphLikeDown:before {
    content: '\e937';
}
.GlyphLikeUp:before {
    content: '\e938';
}
.GlyphDomain1:before {
    content: '\e936';
}
.GlyphSoftwareApplication:before {
    content: '\e932';
}
.GlyphSoftware:before {
    content: '\e933';
}
.GlyphSoftwareScreen:before {
    content: '\e934';
}
.GlyphSoftwareDashboard:before {
    content: '\e935';
}
.GlyphGlossary:before {
    content: '\e906';
}
.GlyphClient:before {
    content: '\e962';
}
.GlyphOrganization:before {
    content: '\e900';
}
.GlyphProject:before {
    content: '\e901';
}
.GlyphGlossary2:before {
    content: '\e902';
}
.GlyphCatalog:before {
    content: '\e903';
}
.GlyphModelRel2:before {
    content: '\e904';
}
.GlyphModelNoRel:before {
    content: '\e905';
}
.GlyphPk:before {
    content: '\e907';
}
.GlyphDiagramNorel:before {
    content: '\e910';
}
.GlyphDiagramRel:before {
    content: '\e911';
}
.GlyphFk:before {
    content: '\e908';
}
.GlyphInter:before {
    content: '\e909';
}
.GlyphInterIn:before {
    content: '\e90a';
}
.GlyphInterOut:before {
    content: '\e90b';
}
.GlyphDataprocessing:before {
    content: '\e90c';
}
.GlyphProcessitem:before {
    content: '\e90d';
}
.GlyphConcept:before {
    content: '\e912';
}
.GlyphTerm:before {
    content: '\e90e';
}
.GlyphIndicator:before {
    content: '\e90f';
}
.GlyphFavorites:before {
    content: '\e61a';
}
.GlyphViewDetails:before {
    content: '\e61f';
}
.GlyphDelete:before {
    content: '\e620';
}
.GlyphCheck:before {
    content: '\e623';
}
.GlyphRecent:before {
    content: '\e635';
}
.GlyphInfo:before {
    content: '\e639';
}
.GlyphViewList:before {
    content: '\e640';
}
.GlyphSearch:before {
    content: '\e660';
}
.GlyphSettings:before {
    content: '\e661';
}
.GlyphComment:before {
    content: '\eb3c';
}
.GlyphAdd:before {
    content: '\e6fd';
}
.GlyphPlusCircle:before {
    content: '\e913';
}
.GlyphPlusCircleSmall:before {
    content: '\e914';
}
.GlyphMinus:before {
    content: '\e915';
}
.GlyphMinusCircle:before {
    content: '\e916';
}
.GlyphMinusCircleSmall:before {
    content: '\e917';
}
.GlyphCancelsearch:before {
    content: '\e8a9';
}
.GlyphCloseCircle:before {
    content: '\e918';
}
.GlyphCloseCircleSmall:before {
    content: '\e919';
}
.GlyphSend:before {
    content: '\e71b';
}
.GlyphSort:before {
    content: '\e71c';
}
.GlyphUpload:before {
    content: '\e7b2';
}
.GlyphEdit:before {
    content: '\e809';
}
.GlyphArrowDropDown:before {
    content: '\e8a1';
}
.GlyphArrowDropUp:before {
    content: '\e8a3';
}
.GlyphArrowDropRight:before {
    content: '\e946';
}
.GlyphExpandMore:before {
    content: '\e8ab';
}
.GlyphPerson:before {
    content: '\e8e5';
}
.GlyphMapping:before {
    content: '\e8ec';
}
.GlyphVsortable:before {
    content: '\ed7d';
}
.GlyphNote:before {
    content: '\ee0c';
}
.GlyphZoomReset:before {
    content: '\ef76';
}
.GlyphHide:before {
    content: '\f072';
}
.GlyphShow:before {
    content: '\e91a';
}
.GlyphMandatory:before {
    content: '\f0b5';
}
.GlyphToolsPublish:before {
    content: '\f2ff';
}
.GlyphToolsUnpublish:before {
    content: '\f300';
}
.GlyphDiagram:before {
    content: '\f4e7';
}
.GlyphReload:before {
    content: '\f679';
}
.GlyphZoomIn:before {
    content: '\f8bb';
}
.GlyphZoomOut:before {
    content: '\f8bc';
}
.GlyphCollapse:before {
    content: '\e7c2';
}
.GlyphUncollapse:before {
    content: '\e7c3';
}
.GlyphProfile:before {
    content: '\e8e7';
}
.GlyphDictionary:before {
    content: '\ec0f';
}
.GlyphColumnview:before {
    content: '\ec46';
}
.GlyphReferenceview:before {
    content: '\ec9f';
}
.GlyphTable:before {
    content: '\f120';
}
.GlyphLogout:before {
    content: '\f3bb';
}
.GlyphSplitter:before {
    content: '\e8b0';
}
.GlyphDdl:before {
    content: '\ef32';
}
.GlyphHelp:before {
    content: '\f0bc';
}
.GlyphCdp:before {
    content: '\ec6f';
}
.GlyphHome:before {
    content: '\f397';
}
.GlyphScreen:before {
    content: '\f892';
}
.GlyphLink:before {
    content: '\f156';
}
.GlyphLinkBroken:before {
    content: '\e91b';
}
.GlyphLock:before {
    content: '\e643';
}
.GlyphTeamShare:before {
    content: '\e91c';
}
.GlyphUnlock:before {
    content: '\e91e';
}
.GlyphLock2:before {
    content: '\e91f';
}
.GlyphUnlock2:before {
    content: '\e920';
}
.GlyphDatatypemapping:before {
    content: '\f4c9';
}
.GlyphWarning:before {
    content: '\f0b7';
}
.GlyphJirabug:before {
    content: '\f4dd';
}
.GlyphResize:before {
    content: '\ec7e';
}
.GlyphArrowDown:before {
    content: '\e94b';
}
.GlyphArrowUp:before {
    content: '\e958';
}
.GlyphAnalysis:before {
    content: '\f323';
}
.GlyphArrowDownRight:before {
    content: '\e94a';
}
.GlyphArrowUpLeft:before {
    content: '\e956';
}
.GlyphLive:before {
    content: '\f6fd';
}
.GlyphCsvFile:before {
    content: '\ef0b';
}
.GlyphUserLock:before {
    content: '\f759';
}
.GlyphUserUnlock:before {
    content: '\f75f';
}
.GlyphPersonalDoc:before {
    content: '\e921';
}
.GlyphTeamDoc:before {
    content: '\e922';
}
.GlyphPersonalDoc2:before {
    content: '\e923';
}
.GlyphReferenceDoc:before {
    content: '\e924';
}
.GlyphGlyph_dddg:before {
    content: '\e925';
}
.GlyphVisualAnalysis:before {
    content: '\e926';
}
.GlyphGlyph_ddg:before {
    content: '\e927';
}
.GlyphGlyph_ddg2:before {
    content: '\e928';
}
.GlyphGlyph_dgg:before {
    content: '\e929';
}
.GlyphGlyph_dgg2:before {
    content: '\e92a';
}
.GlyphGlyph_dggg:before {
    content: '\e92b';
}
.GlyphGlyph_gdd:before {
    content: '\e92c';
}
.GlyphGlyph_gdd2:before {
    content: '\e92d';
}
.GlyphGlyph_gddd:before {
    content: '\e92e';
}
.GlyphGlyph_ggd:before {
    content: '\e92f';
}
.GlyphGlyph_ggd2:before {
    content: '\e930';
}
.GlyphGlyph_gggd:before {
    content: '\e931';
}
.GlyphNotification:before {
    content: '\e91d';
}
.GlyphRule:before {
    content: '\ea05';
}
.GlyphFusion:before {
    content: '\e94f';
}
.GlyphSpanner01:before {
    content: '\e950';
}
.GlyphStar:before {
    content: '\e952';
}
.GlyphStarFav:before {
    content: '\e953';
}
.GlyphSave:before {
    content: '\e954';
}
.GlyphExpand1:before {
    content: '\ed5e';
}
.GlyphExpand11:before {
    content: '\ed5f';
}
.GlyphExpand2:before {
    content: '\ed60';
}
.GlyphExpand5:before {
    content: '\ed66';
}
.GlyphShrink1:before {
    content: '\f552';
}
.GlyphShrink11:before {
    content: '\f553';
}
.GlyphShrink2:before {
    content: '\f554';
}
.GlyphFileTasksCheck:before {
    content: '\ee85';
}
.GlyphFileTasksClose:before {
    content: '\ee87';
}
.GlyphFileTasksAdd:before {
    content: '\ee82';
}
.GlyphFileTasksSubtract:before {
    content: '\ee94';
}
.GlyphFileTasksEdit:before {
    content: '\ee8a';
}
.GlyphFileTasksAlert:before {
    content: '\ee83';
}
.GlyphFileTasksView:before {
    content: '\ee96';
}
.GlyphFileTasksBlock:before {
    content: '\ee84';
}
.GlyphCommentAdd:before {
    content: '\eb3d';
}
.GlyphCommentEdit:before {
    content: '\eb47';
}
.GlyphCommentSubtract:before {
    content: '\eb57';
}
.GlyphFileCopy:before {
    content: '\edba';
}
.GlyphImplem:before {
    content: '\f4cb';
}
.GlyphImplem2:before {
    content: '\f4cc';
}
.GlyphSuggest:before {
    content: '\e959';
}
.GlyphSuggestRel:before {
    content: '\e95a';
}
.GlyphSuggestCheck:before {
    content: '\e95b';
}
.GlyphSuggestClose:before {
    content: '\e95c';
}
.GlyphSuggestView:before {
    content: '\e95d';
}
.GlyphSuggestAlert:before {
    content: '\e95e';
}
.GlyphActivity:before {
    content: '\ea66';
}
.GlyphSearchActivity:before {
    content: '\f06b';
}
.GlyphExpandVertical:before {
    content: '\ed7f';
}
.GlyphShrinkVertical:before {
    content: '\f560';
}
.GlyphGitCompare:before {
    content: '\e955';
}
.GlyphViewMore:before {
    content: '\f7e6';
}
.GlyphDimensionGroup:before {
    content: '\e957';
}
.GlyphArrowLeft:before {
    content: '\e95f';
}
.GlyphExpandHorizontal:before {
    content: '\ed75';
}
.GlyphArrowRight:before {
    content: '\e960';
}
.GlyphDetailEdit:before {
    content: '\ec1a';
}
.GlyphLogoDg:before {
    content: '\e961';
}
.GlyphFolder:before {
    content: '\ef80';
}
.GlyphFileEmpty:before {
    content: '\ee12';
}
.GlyphFile:before {
    content: '\ee13';
}
.GlyphJsonFile:before {
    content: '\eee3';
}
.GlyphField:before {
    content: '\eee4';
}
.GlyphCompareItem2:before {
    content: '\ef89';
}
.GlyphInsight:before {
    content: '\f152';
}
.GlyphActivityLog:before {
    content: '\f3cf';
}
.GlyphChatComment:before {
    content: '\eb5d';
}
.GlyphCompareItem1:before {
    content: '\f31a';
}
.GlyphPencilCircle:before {
    content: '\f34e';
}
.GlyphCheckCircle1:before {
    content: '\eb60';
}
.GlyphSource:before {
    content: '\f4a7';
}
.GlyphCompareItem:before {
    content: '\e963';
}
.GlyphEmail:before {
    content: '\ed33';
}
.GlyphNosql:before {
    content: '\e964';
}
.GlyphShare:before {
    content: '\e965';
}
.GlyphBusinessDomain:before {
    content: '\e966';
}
.GlyphUndo:before {
    content: '\e967';
}
.GlyphCheckboxUnchecked:before {
    content: '\e968';
}
.GlyphCheckboxChecked:before {
    content: '\e969';
}
.GlyphText1:before {
    content: '\f6cd';
}
.GlyphSpinner:before {
    content: '\e96a';
}
.GlyphReset:before {
    content: '\e96b';
}
.GlyphLocationMap:before {
    content: '\f183';
}
.GlyphSlider2:before {
    content: '\f593';
}
.GlyphDatamap:before {
    content: '\e96c';
}
.GlyphCopyToClipboard:before {
    content: '\e96d';
}
.GlyphUniverse:before {
    content: '\e96e';
}
.GlyphDomainGroup:before {
    content: '\e96f';
}
.GlyphLayoutFull:before {
    content: '\e970';
}
.GlyphLayoutSplit:before {
    content: '\e971';
}
.GlyphCopyComparedField:before {
    content: '\e972';
}
.GlyphDataFlow:before {
    content: '\e973';
}
.GlyphProcess_old:before {
    content: '\e974';
}
.GlyphIndeterminate_check_box:before {
    content: '\e975';
}
.GlyphCamera1:before {
    content: '\ea9d';
}
.GlyphDataset:before {
    content: '\e976';
}
.GlyphOpendataset:before {
    content: '\e977';
}
.GlyphProcess:before {
    content: '\e978';
}
.GlyphAlgorithm:before {
    content: '\e979';
}
.GlyphReport:before {
    content: '\e97a';
}
.GlyphMaster:before {
    content: '\e97b';
}
.GlyphIsMaster:before {
    content: '\e97c';
}
.GlyphArrowFlip:before {
    content: '\e97d';
}
.GlyphModel:before {
    content: '\e97e';
}
.GlyphDatabase:before {
    content: '\e97f';
}
.GlyphDimension:before {
    content: '\e980';
}
.GlyphSubDimension:before {
    content: '\e981';
}
.GlyphSubDomain:before {
    content: '\e982';
}
.GlyphSpreadsheet:before {
    content: '\e983';
}
.GlyphContainerfolder:before {
    content: '\e984';
}
.GlyphContainer:before {
    content: '\e985';
}
.GlyphSourcefolder:before {
    content: '\e986';
}
.GlyphFeatures:before {
    content: '\e987';
}
.GlyphDomain:before {
    content: '\e988';
}
.GlyphIndicatorGroup:before {
    content: '\e989';
}
.GlyphValue:before {
    content: '\e98a';
}
.GlyphView:before {
    content: '\e98b';
}
.GlyphFilestore:before {
    content: '\e98c';
}
.GlyphContainerfile:before {
    content: '\e98d';
}
.GlyphFile1:before {
    content: '\e98e';
}
.GlyphDatafield:before {
    content: '\e98f';
}
.GlyphDocument:before {
    content: '\e990';
}
.GlyphTagbase:before {
    content: '\e991';
}
.GlyphEquipment:before {
    content: '\e992';
}
.GlyphTag:before {
    content: '\e993';
}
.GlyphAlien:before {
    content: '\e994';
}
.GlyphContentViewModule1:before {
    content: '\e995';
}
.GlyphContentViewModule2:before {
    content: '\e996';
}
.GlyphDiamond:before {
    content: '\e997';
}
.GlyphOrganizationHierarchy1:before {
    content: '\e998';
}
.GlyphCollectionDynamic:before {
    content: '\e999';
}
.GlyphCollectionStatic:before {
    content: '\e99a';
}
.GlyphCommentDuo:before {
    content: '\e99b';
}
.GlyphComment1:before {
    content: '\e99c';
}
.GlyphDashboard:before {
    content: '\e99d';
}
.GlyphDensityHigh:before {
    content: '\e99e';
}
.GlyphDensityLow:before {
    content: '\e99f';
}
.GlyphDensityMedium:before {
    content: '\e9a0';
}
.GlyphDiagram1:before {
    content: '\e9a1';
}
.GlyphDirectionAfter:before {
    content: '\e9a2';
}
.GlyphDirectionBefore:before {
    content: '\e9a3';
}
.GlyphDirectionBoth:before {
    content: '\e9a4';
}
.GlyphFlipHorizontal:before {
    content: '\e9a5';
}
.GlyphFullscreenContract:before {
    content: '\e9a6';
}
.GlyphFullscreenExpand:before {
    content: '\e9a7';
}
.GlyphIdealZoom:before {
    content: '\e9a8';
}
.GlyphLink1:before {
    content: '\e9a9';
}
.GlyphUnlink:before {
    content: '\e9aa';
}
.GlyphPhoto:before {
    content: '\e9ab';
}
.GlyphPinOff:before {
    content: '\e9ac';
}
.GlyphPinOn:before {
    content: '\e9ad';
}
.GlyphSave1:before {
    content: '\e9ae';
}
.GlyphSettings1:before {
    content: '\e9af';
}
.GlyphChecked2:before {
    content: '\e9b0';
}
.GlyphChecked3:before {
    content: '\e9b1';
}
.GlyphExpandWindow:before {
    content: '\e9b2';
}
.GlyphKeyboard:before {
    content: '\e9b3';
}
.GlyphMap2:before {
    content: '\e9b4';
}
.GlyphMassEdit:before {
    content: '\e9b5';
}
.GlyphMoveChild:before {
    content: '\e9b6';
}
.GlyphObjectCompact:before {
    content: '\e9b7';
}
.GlyphObjectDetailed:before {
    content: '\e9b8';
}
.GlyphObjectPage:before {
    content: '\e9b9';
}
.GlyphObjectPreview:before {
    content: '\e9ba';
}
.GlyphRedo2:before {
    content: '\e9bb';
}
.GlyphShortcut:before {
    content: '\e9bc';
}
.GlyphShrinkWindow:before {
    content: '\e9bd';
}
.GlyphSortAz:before {
    content: '\e9be';
}
.GlyphSortDateReverse:before {
    content: '\e9bf';
}
.GlyphSortDate:before {
    content: '\e9c0';
}
.GlyphSortZa:before {
    content: '\e9c1';
}
.GlyphTreeClose:before {
    content: '\e9c2';
}
.GlyphTreeOpen:before {
    content: '\e9c3';
}
.GlyphUndo2:before {
    content: '\e9c4';
}
.GlyphUnlink1:before {
    content: '\e9c5';
}
.GlyphUsageField:before {
    content: '\e9c6';
}
.GlyphViewFlat:before {
    content: '\e9c7';
}
.GlyphViewList1:before {
    content: '\e9c8';
}
.GlyphViewTable:before {
    content: '\e9c9';
}
.GlyphViewTree:before {
    content: '\e9ca';
}
.GlyphMore:before {
    content: '\e9cb';
}
.GlyphApi:before {
    content: '\e9cc';
}
.GlyphCarnet:before {
    content: '\e9cd';
}
.GlyphDemo:before {
    content: '\e9ce';
}
.GlyphGridColumns:before {
    content: '\e9cf';
}
.GlyphSubStructure:before {
    content: '\e9d0';
}
.GlyphTimeSeries:before {
    content: '\e9d1';
}
.GlyphUsageComponent:before {
    content: '\e9d2';
}
