.Root {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AvatarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TextInfoWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    margin-left: 2px;
}

.Role {
    font-weight: 700;
    font-size: 10px;
    color: var(--reflex);
}

.UserName {
    font-size: 10px;
}

.SmallGlyph {
    font-size: 12px !important;
}