.Root {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    font-size: 12px;
    line-height: 15px;
}

.IconWrapper {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.Proposed {
    color: var(--medium-gray-color);
}

.InRevision {
    color: var(--orange-color);
}

.InValidation {
    color: var(--blue-color);
}

.Validated {
    color: var(--green-color);
}

.Obsolete {
    color: var(--magenta-color);
}