.SearchCardsResultWrapper {
  overflow-y: scroll;
  height: 392px;
  margin-right: -17px;
  padding-right: 3px;
  margin-top: 15px;
}

.SearchCardResultWrapper {
  margin: 9px auto;
}

.AccordionWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}