.Root {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
}

.Root:hover {
    background: hsla(236, 46%, 72%, 0.2);
    border: none;
    cursor: pointer;
}

.Active {
    background: hsla(236, 46%, 72%, 0.2);
}

.Mini {
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.Primary {
    background: linear-gradient(71.97deg, #001aff 11.94%, #084eff 37.82%, #17aeff 85.88%);
    color: var(--white);
}

.Primary:hover {
    background: linear-gradient(90deg, #0016d7, #0297e6);
}
