.Root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.UsersInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
} 

.AccordionWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.SubInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SubInfoTitle {
    font-size: 10px;
    font-weight: 600;
    color: var(--reflex);
    margin-top: 12px;
    margin-bottom: 4px;
}

.SubInfoContent {
    font-size: 12px;
    color: var(--black);
    margin-bottom: 12px;
}

.Separator {
    height: 1px ;
    background-color: var(--pale-reflex);
}