.Root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AccordionWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.SubInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.SubInfoTitle {
    font-size: 10px;
    font-weight: 600;
    color: #000000;
}